/* You can add global styles to this file, and also import other style files */
body{
    /* background-image: url('./assets/india-flag-wallpaper.jpg'); */
    text-align: center;
}

input{
    border: 1px solid blueviolet;
    border-radius: 2px;
    width: 50%;
    height: 35px;
    padding: 6px;
    margin: 2%;
    font-size: 100%;
}

button{
    background-color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 2px;
    transition: all 200ms ease-in-out 0s;
    border-radius: 4px;
    border: 2px solid rgb(144, 47, 255);
    font-size: 100%;
}

hr{
    width: 100%;
}

.login-form{
    width: 50%;
    border: 2px solid rgb(144, 47, 255);
    border-radius: 2px;
    padding: 1%;
    text-align: center;
    margin-top: 3%;
    margin-left: 22%;
    font-size: 150%;
    z-index: 1;
    border-radius: 8px;
    background-color: white;
    box-shadow: 4px 4px 10px rgb(144, 47, 255)
}

button:hover{
    background-color: rgb(144, 47, 255)
}